<div class="col-lg-4 col-lg-offset-4">
    <h3>Страницы приложения</h3>
    <ul class="nav navbar">
        <li>
            <a href="register">Форма регистрации пользователя.</a>
        </li>
        <li>
            <a href="login">Форма логина пользователя.</a>
        </li>
        <li>
            <a href="photos">Фотографии.</a>
        </li>
        <li>
            <a href="profile">Профиль пользователя.</a>
        </li>
    </ul>
</div>