<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Фреймворки Демо</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="scripts/cookieApi.js"></script>
</head>
<body>
    <div class="container-fluid bg-primary">
        <h2 class="text-white">Vanilla JS Демо</h2>
    </div>
    
    <%- include('mainContent/' + page) %>
    
</body>
</html>